In [ ]:
import pandas as pd
import numpy as np
#!pip3 install yfinance
import yfinance as yf

import matplotlib.pyplot as plt
%matplotlib inline

from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 20,10

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

tickers=["AAPL","CSCO","MSFT", "SBUX"]
li=[]
val=1
for f in tickers: 
  df = yf.download(f, start="2010-12-30", end="2020-12-30" , period = '1d')
  df.insert(df.shape[1],"Comp_ID",val,True)
  print(df.shape)
  df=df[['Volume','Open','High','Low','Comp_ID','Adj Close','Close']]
  li.append(df)
  val+=1
frame = pd.concat(li, axis=0, ignore_index=True)  
print(frame.shape)

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
[*********************100%***********************]  1 of 1 completed
(2517, 7)
[*********************100%***********************]  1 of 1 completed
(2517, 7)
[*********************100%***********************]  1 of 1 completed
(2517, 7)
[*********************100%***********************]  1 of 1 completed
(2517, 7)
(10068, 7)

In [ ]:
# print(type(frame.iloc[[0],[1]]))
# frame['Date'] = pd.to_datetime(frame['Date'], format="%m/%d/%Y")
print(frame.dtypes)

Volume         int64
Open         float64
High         float64
Low          float64
Comp_ID        int64
Adj Close    float64
Close        float64
dtype: object

In [ ]:
# print(frame.dtypes)
# frame['Close/Last'] = frame['Close/Last'].astype('str')
# frame['Open'] = frame['Open'].astype('str')
# frame['High'] = frame['High'].astype('str')
# frame['Low'] = frame['Low'].astype('str')
# #frame['Close/Last'] = frame['Close/Last'].str.split('$')[1]
# for i in range(frame.shape[0]):
#   s=frame.iloc[i,1]
#   s=s.split('$')
#   frame.iloc[i,1]=s[1]

#   s=frame.iloc[i,3]
#   s=s.split('$')
#   frame.iloc[i,3]=s[1]

#   s=frame.iloc[i,4]
#   s=s.split('$')
#   frame.iloc[i,4]=s[1]

#   s=frame.iloc[i,5]
#   s=s.split('$')
#   frame.iloc[i,5]=s[1]

Date          datetime64[ns]
Close/Last            object
Volume                 int64
Open                  object
High                  object
Low                   object
Comp_ID                int64
dtype: object

In [ ]:
# frame.iloc[[0],[0]]
# plt.figure(figsize=(16,8))
# frame.plot(x ='Date', y='Close/Last' , kind = 'scatter')

In [ ]:
frame.tail()

        Volume        Open        High  ...  Comp_ID   Adj Close       Close
10063  4302700  102.120003  103.169998  ...        4  101.975861  102.410004
10064  3817300  102.290001  102.690002  ...        4  101.627342  102.059998
10065  1949200  102.300003  102.360001  ...        4  101.577553  102.010002
10066  5055200  102.919998  104.379997  ...        4  103.897675  104.339996
10067  4780900  104.889999  105.779999  ...        4  105.182205  105.629997

[5 rows x 7 columns]

In [ ]:
print(frame.dtypes)
frame.describe()

Volume         int64
Open         float64
High         float64
Low          float64
Comp_ID        int64
Adj Close    float64
Close        float64
dtype: object

             Volume          Open  ...     Adj Close         Close
count  1.006800e+04  10068.000000  ...  10068.000000  10068.000000
mean   8.394402e+07     47.600267  ...     44.285495     47.615941
std    1.420694e+08     35.032814  ...     35.520284     35.042800
min    1.847800e+06     11.310000  ...      9.700181     11.261429
25%    1.581008e+07     25.591876  ...     21.812246     25.590000
50%    2.943905e+07     38.000000  ...     34.216980     38.039999
75%    8.051918e+07     56.352499  ...     52.440224     56.312501
max    1.880998e+09    229.270004  ...    230.514191    231.649994

[8 rows x 7 columns]

In [ ]:
# frame["Close/Last"]=pd.to_numeric(frame["Close/Last"])
# frame["Open"]=pd.to_numeric(frame["Open"])
# frame["High"]=pd.to_numeric(frame["High"])
# frame["Low"]=pd.to_numeric(frame["Low"])
# print(frame.dtypes)

In [ ]:
# from datetime import datetime
# start_date , end_date = "2013-01-01" , "2021-04-25"
# start_date = datetime.strptime(start_date, '%Y-%m-%d')
# end_date = datetime.strptime(end_date, '%Y-%m-%d')


# mask = (frame['Date'] > start_date) & (frame['Date'] <= end_date)
# print(len(mask))

In [ ]:
# frame=frame.loc[mask]
# print(frame.shape)

# frame=frame.drop(['Date'], axis = 1)
# print(frame.shape)
# frame.tail()

In [ ]:
X=frame[['Volume','Open','High','Low','Comp_ID','Adj Close']]
Y=frame[['Close']]

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
print(len(X_train))

8054

In [ ]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [ ]:
from sklearn import neighbors
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import precision_recall_fscore_support
rmse=[]
metrics=[]
from math import sqrt
for K in range(1,100):
  knn = neighbors.KNeighborsRegressor(n_neighbors=K , weights='uniform', algorithm='auto')
  knn.fit(X_train_scaled, Y_train)
  Y_pred=knn.predict(X_test_scaled)
  error = sqrt(mean_squared_error(Y_test,Y_pred))
  rmse.append(error)
  print(error)
  print("The rmse error for {} neighbours is {} .".format(K,error))

0.8569733018900387
The rmse error for 1 neighbours is 0.8569733018900387 .
0.798874803756605
The rmse error for 2 neighbours is 0.798874803756605 .
0.7771381546196492
The rmse error for 3 neighbours is 0.7771381546196492 .
0.784670089891723
The rmse error for 4 neighbours is 0.784670089891723 .
0.7952338251810505
The rmse error for 5 neighbours is 0.7952338251810505 .
0.8055240540518104
The rmse error for 6 neighbours is 0.8055240540518104 .
0.8118941180985023
The rmse error for 7 neighbours is 0.8118941180985023 .
0.8182088307697923
The rmse error for 8 neighbours is 0.8182088307697923 .
0.824841584393288
The rmse error for 9 neighbours is 0.824841584393288 .
0.8329481627464701
The rmse error for 10 neighbours is 0.8329481627464701 .
0.8458340867969905
The rmse error for 11 neighbours is 0.8458340867969905 .
0.8565463718810508
The rmse error for 12 neighbours is 0.8565463718810508 .
0.8673425642635662
The rmse error for 13 neighbours is 0.8673425642635662 .
0.873779209922367
The rmse error for 14 neighbours is 0.873779209922367 .
0.8807956787752959
The rmse error for 15 neighbours is 0.8807956787752959 .
0.892843840606068
The rmse error for 16 neighbours is 0.892843840606068 .
0.9025037500422353
The rmse error for 17 neighbours is 0.9025037500422353 .
0.9093767963113413
The rmse error for 18 neighbours is 0.9093767963113413 .
0.9155478286041963
The rmse error for 19 neighbours is 0.9155478286041963 .
0.9251780801719848
The rmse error for 20 neighbours is 0.9251780801719848 .
0.9329330328856458
The rmse error for 21 neighbours is 0.9329330328856458 .
0.9398148772704705
The rmse error for 22 neighbours is 0.9398148772704705 .
0.9458803397193436
The rmse error for 23 neighbours is 0.9458803397193436 .
0.9504270290970478
The rmse error for 24 neighbours is 0.9504270290970478 .
0.9607207361950489
The rmse error for 25 neighbours is 0.9607207361950489 .
0.9697407800314948
The rmse error for 26 neighbours is 0.9697407800314948 .
0.9764745620850739
The rmse error for 27 neighbours is 0.9764745620850739 .
0.9874887186981154
The rmse error for 28 neighbours is 0.9874887186981154 .
0.9994638689488724
The rmse error for 29 neighbours is 0.9994638689488724 .
1.005056294174167
The rmse error for 30 neighbours is 1.005056294174167 .
1.0109777459404192
The rmse error for 31 neighbours is 1.0109777459404192 .
1.0210789600506298
The rmse error for 32 neighbours is 1.0210789600506298 .
1.0301443654701878
The rmse error for 33 neighbours is 1.0301443654701878 .
1.0382129019631905
The rmse error for 34 neighbours is 1.0382129019631905 .
1.0492132804201457
The rmse error for 35 neighbours is 1.0492132804201457 .
1.0574137651675453
The rmse error for 36 neighbours is 1.0574137651675453 .
1.0650308002401434
The rmse error for 37 neighbours is 1.0650308002401434 .
1.0733829208857217
The rmse error for 38 neighbours is 1.0733829208857217 .
1.0797419651717564
The rmse error for 39 neighbours is 1.0797419651717564 .
1.0874668234663096
The rmse error for 40 neighbours is 1.0874668234663096 .
1.0962040559871218
The rmse error for 41 neighbours is 1.0962040559871218 .
1.1051269984857273
The rmse error for 42 neighbours is 1.1051269984857273 .
1.1122174400088736
The rmse error for 43 neighbours is 1.1122174400088736 .
1.1199973152026157
The rmse error for 44 neighbours is 1.1199973152026157 .
1.126265905142734
The rmse error for 45 neighbours is 1.126265905142734 .
1.1329543577375265
The rmse error for 46 neighbours is 1.1329543577375265 .
1.1437502332902223
The rmse error for 47 neighbours is 1.1437502332902223 .
1.1511322869075973
The rmse error for 48 neighbours is 1.1511322869075973 .
1.1603845537089972
The rmse error for 49 neighbours is 1.1603845537089972 .
1.1705473179076467
The rmse error for 50 neighbours is 1.1705473179076467 .
1.178809145673464
The rmse error for 51 neighbours is 1.178809145673464 .
1.1861009602153494
The rmse error for 52 neighbours is 1.1861009602153494 .
1.1948466487943215
The rmse error for 53 neighbours is 1.1948466487943215 .
1.2056628113978471
The rmse error for 54 neighbours is 1.2056628113978471 .
1.2146086990386171
The rmse error for 55 neighbours is 1.2146086990386171 .
1.223116480716233
The rmse error for 56 neighbours is 1.223116480716233 .
1.2304124142918282
The rmse error for 57 neighbours is 1.2304124142918282 .
1.2406963153708472
The rmse error for 58 neighbours is 1.2406963153708472 .
1.25209531916239
The rmse error for 59 neighbours is 1.25209531916239 .
1.2607421952358269
The rmse error for 60 neighbours is 1.2607421952358269 .
1.270302211328183
The rmse error for 61 neighbours is 1.270302211328183 .
1.280344411385318
The rmse error for 62 neighbours is 1.280344411385318 .
1.2900241066831377
The rmse error for 63 neighbours is 1.2900241066831377 .
1.2950782095172915
The rmse error for 64 neighbours is 1.2950782095172915 .
1.3049271068654653
The rmse error for 65 neighbours is 1.3049271068654653 .
1.3169030230142245
The rmse error for 66 neighbours is 1.3169030230142245 .
1.328572659268635
The rmse error for 67 neighbours is 1.328572659268635 .
1.3385370433322492
The rmse error for 68 neighbours is 1.3385370433322492 .
1.3439239479556357
The rmse error for 69 neighbours is 1.3439239479556357 .
1.3515981170385922
The rmse error for 70 neighbours is 1.3515981170385922 .
1.3609983470949116
The rmse error for 71 neighbours is 1.3609983470949116 .
1.3726924064484312
The rmse error for 72 neighbours is 1.3726924064484312 .
1.3810830198267756
The rmse error for 73 neighbours is 1.3810830198267756 .
1.3888258783458207
The rmse error for 74 neighbours is 1.3888258783458207 .
1.3959143425404121
The rmse error for 75 neighbours is 1.3959143425404121 .
1.4059629394577817
The rmse error for 76 neighbours is 1.4059629394577817 .
1.413482518301638
The rmse error for 77 neighbours is 1.413482518301638 .
1.4259626217974972
The rmse error for 78 neighbours is 1.4259626217974972 .
1.4364731002855284
The rmse error for 79 neighbours is 1.4364731002855284 .
1.4449085720930994
The rmse error for 80 neighbours is 1.4449085720930994 .
1.4533012792210136
The rmse error for 81 neighbours is 1.4533012792210136 .
1.4612861434657942
The rmse error for 82 neighbours is 1.4612861434657942 .
1.4716075030598044
The rmse error for 83 neighbours is 1.4716075030598044 .
1.48093498303849
The rmse error for 84 neighbours is 1.48093498303849 .
1.4919862800477472
The rmse error for 85 neighbours is 1.4919862800477472 .
1.5025160094771488
The rmse error for 86 neighbours is 1.5025160094771488 .
1.5123543647170963
The rmse error for 87 neighbours is 1.5123543647170963 .
1.5214204311442372
The rmse error for 88 neighbours is 1.5214204311442372 .
1.5327978630540908
The rmse error for 89 neighbours is 1.5327978630540908 .
1.540265770115597
The rmse error for 90 neighbours is 1.540265770115597 .
1.5523501210131596
The rmse error for 91 neighbours is 1.5523501210131596 .
1.5636153773858528
The rmse error for 92 neighbours is 1.5636153773858528 .
1.5747304477390671
The rmse error for 93 neighbours is 1.5747304477390671 .
1.5858765172513267
The rmse error for 94 neighbours is 1.5858765172513267 .
1.598748799570978
The rmse error for 95 neighbours is 1.598748799570978 .
1.611442922641505
The rmse error for 96 neighbours is 1.611442922641505 .
1.6256981605736818
The rmse error for 97 neighbours is 1.6256981605736818 .
1.6366813206837854
The rmse error for 98 neighbours is 1.6366813206837854 .
1.6493152651832408
The rmse error for 99 neighbours is 1.6493152651832408 .

In [ ]:
# li=[x1,x2,x3,x4]
# test_frame = pd.concat(li, axis=0, ignore_index=True) 
# x_frame=test_frame.drop(['Close'], axis = 1)
# y_frame=test_frame[['Close']]
# x_frame_scaled=scaler.fit_transform(x_frame)
# print(x_frame.shape,y_frame.shape)

(1176, 5) (1176, 1)

In [ ]:
# from sklearn import neighbors
# from sklearn.metrics import mean_squared_error 
# from sklearn.metrics import precision_recall_fscore_support
# rmse=[]
# metrics=[]
# from math import sqrt
# for K in range(1,100):
#   knn = neighbors.KNeighborsRegressor(n_neighbors=K , weights='uniform', algorithm='auto')
#   knn.fit(X_train_scaled, Y_train)
#   Y_pred=knn.predict(x_frame_scaled)
#   error = sqrt(mean_squared_error(y_frame,Y_pred))
#   rmse.append(error)
#   print(error)
#   print("The rmse error for {} neighbours is {} .".format(K,error))